<h2>{{.Id}}</h2>
<p>
Nick: {{.Nick}}<br/>
Server: {{.ServerURL}}<br/>
Online since: {{.Start.T.Format "Mon Jan 2 15:04:05 MST 2006"}}<br/>
Uptime: {{.Start.Elapsed}}<br/>
Messages Sent: {{.TxMsgs}}<br/>
Messages Received: {{.RxMsgs}}<br/>
Channels:
{{range $ch, $_ := .Channels}}
{{$ch}}
{{end}}
<br/>

Tasks:
<table style="margin-left: 1em;">
<tr><td>Task</td><td>Wall Time</td></tr>
{{range $tid, $task := .Tasks}}
<tr>
	<td>{{$task.Name}}</td>
	<td style="text-align: right;">{{$task.Start.Elapsed}}</td>
</tr>
{{end}}
</table>

Patterns:
<table style="margin-left: 1em;">
{{range .Patterns}}
<tr>
	<td style="border: 1px solid blue;">{{.Match}}</td>
	<td>&rarr;</td>
	<td style="border: 1px solid red;">{{.Template}}</td>
</tr>
{{end}}
</table>

Raw Patterns:
<table style="margin-left: 1em;">
{{range .PatternsRaw}}
<tr>
	<td style="border: 1px solid blue;">{{.Match}}</td>
	<td>&rarr;</td>
	<td style="border: 1px solid red;">{{.Template}}</td>
</tr>
{{end}}
</table>
</p>
<hr/>
